body {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 260px;
}

main {
    background-color:antiquewhite;
    padding: 24px;
    width: 300px;
    min-width: 220px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}


#profile-image {
    max-width: 150px;
    border-radius: 80%;
    aspect-ratio: 1 / 1.2;
}

#logo {
    width: 75px;
    height: 75px;
    justify-self: center;
}

@media (min-width: 500px) {
    main {
        width: 680px;
        min-width: 400px;
        height: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px 0;
        align-content: center;
    }
    #profile-image-container {
        flex-basis: 100%;
        justify-items: center;
    }
    #contact-details, #company-inf {
        flex-basis: 50%;
    }
    #profile-image {
        max-width: 165px;
    }
}

@media (min-width: 768px) {
    main {
        width: 800px;
        min-width: 680px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0 16px;
    }
    #profile-image-container {
        flex-basis: 100%;
        width: 50%;
        align-content: center;
    }
    #contact-details, #company-inf {
        flex: 1;
        width: 50%;
        align-content: center;
    }
    #profile-image {
        max-width: 250px;
    }
}